#center {
	text-align: center;
}

#img {
	padding-top: 50px;
	padding-bottom: 25px;
}

#duck {
	overflow: hidden;
	margin: auto;
	display: inline-block;
	padding: 25px;
	width: 541px;
	height: 60px;
}